# Supabase Configuration
VITE_SUPABASE_URL=https://uleazvxwslhpgneriipt.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_gRs0QcH_VlnwhK2vvNNrIg_lPCzYENf

# Backend Server (necessari per multijugador)
# Quan el pugis a GitHub Pages, necessitaràs allotjar el backend a un altre lloc (Render, Railway, etc.)
VITE_SERVER_URL=https://el-teu-backend-desplegat.com
